<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitPub</title>
    <style type="text/css">
        body {
        color: blanchedalmond;
        background-color: steelblue;
        }
    </style>
</head>
<body>
    <h1>Welcome to gitPub</h1>
    <ul>
        <% for(let i = 0; i < allDrinks.length; i++) { %>
        <% 
        let dname = allDrinks[i].name 
        %>
            <li>
                <a href="/drinks/<%=i%>"><%=dname[0].toUpperCase() + dname.substring(1) %></a>
            </li>
        <% } %>
    </ul>

</body>
</html>